<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<title>Hármasbusz</title>
</head>
<body style="background-color:#669a90;margin:200px 0">
	<h1 style="font-size:40px;font-family:Arvo;text-align:center;color:#f6f0c4;text-shadow: 3px 5px #444;line-height:1">
		Mikor jön a hármas busz?
	</h1>
	<p style="font-size:40px;font-family:Arvo;text-align:center;color:#f6f0c4;text-shadow: 3px 5px #444;line-height:1">
		{{ harmas }}
	</p>
</body>
</html>